/* this is where all of your CSS styles go */
html,body {
	width: 100%;
	height: 100%;
}

.grid_container {
	width: 400px;
	height: 200px;
	position: relative;
	left: 50%;
	top: 48%; /* for optical centering */
	margin-top: -50px;
	margin-left: -100px;
}

.mono {
	font-family: 'Fjalla One';
	font-size: 6em;
	float: left;
	margin-left: 5px;
}

@keyframes r_move {
	0%,100% { top: 0px; }
	50% { top: 250px; }
}

		.r {
			position:relative;
			animation: r_move 3s;
			animation-delay: 1s;
			
		}

@keyframes e_move {
	0%,100% { top: 0px; }
	50% { top: -150px; }
}

		.e {
			position: relative;
			animation: e_move 3s;
			animation-delay: 1s;
			
		}

@keyframes t_fade {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

		.t {
			opacity: 0;
			animation: t_fade 3s;
			animation-fill-mode: forwards;
			
			
		}

@keyframes p_move {
	0% { top: 0px; left: 250px; }
	100% { top: 0px; left: -150px;}

}
	.p {
			position: relative;
			animation: p_move 3s;
			animation-fill-mode: forwards;	
		}

@keyframes o_move {
	0% { top: 0px; left: 0px; }
	100% {top: 0px; left: -50px;}

}
	.o {
		position: relative;
		animation: o_move 3s;
		animation-fill-mode: forwards;
		animation-delay: 1s;
		
		
	}

@keyframes are_move {
	0% { top: 0px; left: 0px; }
	100% {top: 0px; left: 50px;}

}
	.are {
		position: relative;
		animation: are_move 3s;
		animation-fill-mode: forwards;
		animation-delay: 1s;
	
		
	}

@keyframes tee_move {
	0% { top: 250px; left:0px; }
	100% { top: 0px; left: -50px;}

}
	.tee {
			position: relative;
			animation: tee_move 3s;
			animation-fill-mode: forwards;
	}
















		